@model IEnumerable<emiliAppraisal.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.unitNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.streetNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.streetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.streetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.municipality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postalCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.unitNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streetNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streetType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.municipality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postalCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.addressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.addressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.addressId })
        </td>
    </tr>
}

</table>
